html, body {
    color: white;
    background: #111;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
}

.game {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 177.778vh;
}

.stage {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.splash-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #123;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.life-tracker {
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.25rem;
}
